{% extends 'base/dashboard.html' %}
{% load static %}
{% block css %}
    <!-- <link rel="stylesheet" href="{% static 'css/cards_options.css' %}"> -->
{% endblock %}

{% block main %}
    <h1 class="title-main">Encuestas</h1>
    <a href="{% url 'create_encuestas' %}">Crear Encuesta</a>
    <table>
        <thead>
            <tr>
                <th>ID ENCUESTA</th>
                <th>FECHA ENCREACIÓN</th>
                <th>ESTADO</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% if surveys_list %}
                {% for surveys in surveys_list %}
                    <tr>
                        <td>{{ surveys.id_encuesta }}</td>
                        <td>{{ surveys.fecha_creacion }}</td>
                        <td>{{ surveys.estado }}</td>
                        <td>
                            <a href="{% url 'update_encuestas' surveys.id_encuesta %}">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}